.btn-floating-guia {
	margin-top: 2%;
}

.btn-floating-form {
	margin-top: 2.5%;
	height: 40px;
}

.btn-imprimir {
	margin-top: 46px;
}

.btn-imprimir-lista {
	margin-right: 2%;
}

.btn-teste {
	margin-top: 3%;
	margin-right: 10px;
}