<div class="container">
	<h4 class="center-align">GUIA DE ALIMENTAÇÃO DE Nº {{editar.dados.num_saida}}</h4>
	<div class="col s12 center-align">
		<table class="bordered col s10 offset-s1">
			<tr>
				<td><strong>NOME:</strong>&nbsp;{{editar.dados.nome_escola}}<span
						data-ng-if="editar.dados.tipo_escola !== '1'">&nbsp;({{editar.dados.tipo_escola |
						tipoEscola}})</span></td>
				<td><strong>CÓD:</strong>&nbsp;{{editar.dados.inep_escola}}</td>
			</tr>
			<tr>
				<td><strong>ENDEREÇO:</strong>&nbsp;{{editar.dados.logradouro_escola}},&nbsp;{{editar.dados.numero_escola}}
				</td>
				<td><strong>CEP:</strong>&nbsp;{{editar.dados.cep_escola | cep}}</td>
			</tr>
			<tr>
				<td><strong>BAIRRO:</strong>&nbsp;{{editar.dados.bairro_escola}}</td>
				<td><strong>CIDADE/UF:</strong>&nbsp;GRAVATÁ&nbsp;-&nbsp;PE</td>
			</tr>
			<tr data-ng-if="editar.dados.referencia_escola">
				<td><strong>REFERÊNCIA:</strong>&nbsp;{{editar.dados.referencia_escola}}</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
<div class="col s10 m10 l8">
	<form name="formEstoque" data-ng-submit="editar.liberarProdutos()">
		<div class="row">
			<div class="input-field col s10 m10 l8 offset-l1">
				<select
					data-ng-options="estoque.id_entrada as estoque.nome_fornecedor + ' - ' + estoque.num_nota_entrada + ' - ' + (estoque.programa_entrada | programa) group by (estoque.programa_entrada | programa) disable when estoque.disabled === true for estoque in editar.notas"
					data-ng-model="editar.nota.id_entrada"
					data-ng-change="editar.getProdutosNota(editar.nota.id_entrada)" required>
					<option value="" disabled selected>ESCOLHA A NOTA</option>
				</select>
				<label>Nota</label>
			</div>
			<button class="waves-effect waves-light btn btn-floating-form"
				data-ng-disabled="formEstoque.$invalid">Usar</button>
		</div>
	</form>
	<form name="formProdutos" data-ng-submit="editar.inserir()">
		<div class="row">
			<div class="input-field col s8 m10 l6 offset-l1">
				<select data-ng-change="editar.resta(editar.itens.id_alimento_itenssaida)"
					data-ng-options="alimento.id_alimento as alimento.descricao_alimento disable when alimento.disabled === true for alimento in editar.alimentos | orderBy:'descricao_alimento'"
					data-ng-model="editar.itens.id_alimento_itenssaida" data-ng-disabled="!editar.block" required>
					<option value="" disabled selected>ESCOLHA O PRODUTO</option>
				</select>
				<label>Produto</label>
			</div>
			<div class="input-field col s12 m2 l2">
				<input class="right-align" id="disponivel_estoque" name="disponivel_estoque" type="text" required
					data-ng-model="editar.itens.disponivel_estoque" disabled>
				<label for="restante">Disponível</label>
			</div>
			<div class="input-field col s12 m2 l2">
				<input data-ng-if="editar.show === '1'" data-ng-change="editar.check()" class="right-align"
					id="quantidade_saida_itenssaida" name="quantidade_saida_itenssaida" type="text" required
					data-ng-model="editar.itens.quantidade_saida_itenssaida" data-ng-pattern="/^((?=\S)(\d{1,10}))$/"
					data-ng-minlength="1"
					data-ng-class="{'invalid': formProdutos.quantidade_saida_itenssaida.$error.minlength || formProdutos.quantidade_saida_itenssaida.$error.pattern}"
					data-uinum maxlength="10" data-ng-disabled="!editar.block">
				<input data-ng-if="editar.show === '2'" data-ng-change="editar.check()" class="right-align"
					id="quantidade_saida_itenssaida" name="quantidade_saida_itenssaida" type="text" required
					data-ng-model="editar.itens.quantidade_saida_itenssaida"
					data-ng-pattern="/^((?=\S)\d{1,3}(?:\.\d{3})*,\d{2})$/" data-ng-minlength="3"
					data-ng-class="{'invalid': formProdutos.quantidade_saida_itenssaida.$error.minlength || formProdutos.quantidade_saida_itenssaida.$error.pattern}"
					data-uimoney maxlength="10" data-ng-disabled="!editar.block">
				<label for="quantidade_saida_itenssaida">Quantidade</label>
			</div>
			<button class="btn-floating btn-floating-guia" data-ng-disabled="formProdutos.$invalid"><i
					class="material-icons">add</i></button>
		</div>
	</form>
</div>
<div data-ng-if="editar.nota" class="col s2 m2 l4">
	<p class="flow-text center-align">Produtos do Estoque</p>
	<table class="bordered centered">
		<thead>
			<tr>
				<th class="produto center-align">Produto</th>
				<th class="center-align">Quantidade</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in editar.produtosnota">
				<td>{{item.descricao_alimento}}</td>
				<td>{{(item.quantidade_comprada_itensentrada - item.quantidade_distribuida_itensentrada) |
					tipoDistribuicao:item.tipo_distribuicao_alimento}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container">
	<div class="col s12 center-align" data-ng-if="editar.produtos.length >= 1">
		<button class="waves-effect waves-light btn btn-large"
			data-ui-sref="menu.imprimirguiasaida({id_saida: editar.dados.id_saida})"><i
				class="material-icons left">description</i>Visualizar</button>
	</div>
	<div data-ng-if="editar.produtos.length >= 1">
		<div class="col s6 center-align">
			<span>Alimentos Secos</span>
			<table class="bordered centered">
				<thead>
					<tr>
						<th class="produto center-align">Produto</th>
						<th class="center-align">Quantidade</th>
						<th class="center-align">Unidade</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="item in editar.produtos | orderBy:'descricao_alimento'">
						<td class="produto" data-ng-if="item.tipo_alimento === '1'">{{item.descricao_alimento}}</td>
						<td data-ng-if="item.tipo_alimento === '1'">{{item.quantidade_saida_itenssaida |
							tipoDistribuicao:item.tipo_distribuicao_alimento}}</td>
						<td data-ng-if="item.tipo_alimento === '1'">{{item.unidade_alimento}}</td>
						<td data-ng-if="item.tipo_alimento === '1'">
							<button class="btn-floating red"
								data-ng-click="editar.excluir(item.id_itenssaida, item.id_alimento)"><i
									class="material-icons">delete</i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col s6 center-align">
			<span>Agricultura Familiar</span>
			<table class="bordered centered">
				<thead>
					<tr>
						<th class="produto center-align">Produto</th>
						<th class="center-align">Quantidade</th>
						<th class="center-align">Unidade</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="item in editar.produtos | orderBy:'descricao_alimento'">
						<td class="produto" data-ng-if="item.tipo_alimento === '2'">{{item.descricao_alimento}}</td>
						<td data-ng-if="item.tipo_alimento === '2'">{{item.quantidade_saida_itenssaida}}</td>
						<td data-ng-if="item.tipo_alimento === '2'">{{item.unidade_alimento}}</td>
						<td data-ng-if="item.tipo_alimento === '2'">
							<button class="btn-floating red"
								data-ng-click="editar.excluir(item.id_itenssaida, item.id_alimento)"><i
									class="material-icons">delete</i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>