<div class="container big">
	<h5 class="center-align">Lista de Alimentos</h5>
	<div class="row">
		<div class="input-field col s6 m4 l4 offset-s6 offset-m8 offset-l8">
			<i class="material-icons prefix">search</i>
			<input class="tooltipped" data-delay="50" data-position="bottom" data-tooltip="Digite o nome do alimento"
				id="query" name="query" type="text" maxlength="20" data-ng-model="lista.query"
				data-ng-change="lista.search()" data-uppercase>
			<label for="query">Buscar Alimento</label>
		</div>
	</div>
	<table class="table highlight responsive-table centered col s12" at-table at-paginated at-list="lista.alimentos"
		at-config="lista.config">
		<thead></thead>
		<tbody>
			<tr>
				<td at-title="Tipo do Alimento" data-ng-bind="(item.tipo_alimento | tipoAlimento)"></td>
				<td at-title="Alimento" at-implicit at-attribute="descricao_alimento" at-sortable></td>
				<td at-title="Unidade" at-implicit at-attribute="unidade_alimento"></td>
				<td class="hide-on-med-and-down">
					<button class="btn-floating red tooltipped" data-delay="50" data-position="bottom"
						data-tooltip="Excluir alimento" data-ng-click="lista.modal(item)"><i
							class="material-icons">delete</i></button>
				</td>
			</tr>
		</tbody>
	</table>
	<at-pagination class="right-align" at-list="lista.alimentos" at-config="lista.config"></at-pagination>
</div>
<div id="excluir_produto" class="modal">
	<div class="modal-content center-align">
		<h4>ALERTA!</h4>
		<p class="flow-text">Deseja excluir o produto {{lista.modal_data.descricao_alimento}} ?</p>
	</div>
	<div class="modal-footer">
		<button data-ng-click="lista.excluir(lista.modal_data.id_alimento)"
			class="modal-action modal-close waves-effect waves-green btn-flat">Sim</button>
		<button class="modal-action modal-close waves-effect waves-red btn-flat">Não</button>
	</div>
</div>